[Unit]
Description=SNAT via ENI ens6
Wants = network-online.target
After = network-online.target

[Service]
ExecStart = /opt/nat/snat.sh
Type = oneshot

[Install]
WantedBy = multi-user.target
